repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.11
        args: ["--line-length=200"]

  - repo: https://gitlab.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: [""]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        language_version: python3.11

  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.18.0
    hooks:
      - id: pylint
        args: ["--rcfile=.pylintrc"]