fastapi==0.123.0
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
redis==7.0.1
celery==5.6.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
pydantic[email]==2.12.5
pydantic==2.12.5
email-validator==2.3.0
pydantic-settings==2.11.0
alembic==1.16.5
httpx==0.28.1
smartapi-python==1.5.5
fyers-apiv3==3.1.7
pyotp==2.9.0

# Optional: helpful utilities
python-dotenv==1.2.1
urllib3==2.5.0
